/*Main Style*/
.navbar {
  background-color: #70394a;
  box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.6);
  top: 0;
  z-index: 100;
  position: fixed;
  width: 100%;
}

.nav-link {
  background-color: #723246;
  padding: 8px 20px;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.6);
}
.nav-link:hover,
.nav-link:active,
.nav-link:focus {
  background: #8a5163;
  color: #ffffff;
  text-decoration: none;
}
.dropdown-item:hover,
.dropdown-item:active,
.dropdown-item:focus {
  background: #8a5163;
  color: #ffffff;
  text-decoration: none;
}
.jumbotron {
  padding-top: 7rem;
  padding-bottom: 8rem;
  background-color: #8a5163;
}

.about {
  padding-top: 2rem;
  padding-bottom: 10rem;
  color: white;
  background-image: url("img/TelU.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.inress {
  padding-top: 10rem;
  padding-bottom: 10rem;
  color: rgb(0, 0, 0);
  background-size: cover;
  background-color: #8a5163;
}

.endbar {
  padding: 3rem;
  background-color: #70394a;
  box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.6);
}

/*skils Style*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
.id {
  background: #8a5163;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.skillbg {
  padding-top: 2rem;
  padding-bottom: 5rem;
  background: #8a5163;
}
.skill-tittle {
  background-color: #723246;
  padding: 8px 10px;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.6);
}
::selection {
  color: #fff;
  background: #6665ee;
}
.skill-bars {
  padding: 25px 30px;
  background: #fff;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.skill-bars .bar {
  margin: 20px 0;
}
.skill-bars .bar:first-child {
  margin-top: 0px;
}
.skill-bars .bar .info {
  margin-bottom: 5px;
}
.skill-bars .bar .info span {
  font-weight: 500;
  font-size: 17px;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
  100% {
    opacity: 1;
  }
}
.skill-bars .bar .progress-line {
  height: 10px;
  width: 100%;
  background: #f0f0f0;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05), 0 1px rgba(129, 48, 48, 0.8);
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}
@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}
.bar .progress-line span {
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: #6665ee;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

/*bahasa program*/
.bar .progress-line.html span {
  width: 90%;
}
.bar .progress-line.css span {
  width: 60%;
}
.bar .progress-line.c span {
  width: 90%;
}
.bar .progress-line.jquery span {
  width: 25%;
}
.bar .progress-line.python span {
  width: 75%;
}
.bar .progress-line.mysql span {
  width: 25%;
}

/*bahasa manusia*/
.bar .progress-line.indonesia span {
  width: 99%;
}
.bar .progress-line.english span {
  width: 55%;
}
.bar .progress-line.japanese span {
  width: 45%;
}
.bar .progress-line.deutsch span {
  width: 10%;
}
.bar .progress-line.melayu span {
  width: 68%;
}

.progress-line span::before {
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
.progress-line span::after {
  position: absolute;
  top: -28px;
  right: 0;
  font-weight: 500;
  background: #000;
  color: #fff;
  padding: 1px 8px;
  font-size: 12px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
  100% {
    opacity: 1;
  }
}
/*bahasa program*/
.progress-line.html span::after {
  content: "90%";
}
.progress-line.c span::after {
  content: "90%";
}
.progress-line.css span::after {
  content: "60%";
}
.progress-line.jquery span::after {
  content: "25%";
}
.progress-line.python span::after {
  content: "75%";
}
.progress-line.mysql span::after {
  content: "25%";
}
/*bahasa manusia*/
.progress-line.indonesia span::after {
  content: "99%";
}
.progress-line.english span::after {
  content: "55%";
}
.progress-line.japanese span::after {
  content: "45%";
}
.progress-line.deutsch span::after {
  content: "10%";
}
.progress-line.melayu span::after {
  content: "68%";
}
/*career Style*/
.themeline {
  padding: 100px 0;
}

.timeline {
  position: relative;
}
.timeline::before {
  content: "";
  background: #c5cae9;
  width: 5px;
  height: 95%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.timeline-item {
  width: 100%;
  margin-bottom: 70px;
}
.timeline-item:nth-child(even) .timeline-content {
  float: right;
  padding: 40px 30px 10px 30px;
}
.timeline-item:nth-child(even) .timeline-content .date {
  right: auto;
  left: 0;
}
.timeline-item:nth-child(even) .timeline-content::after {
  content: "";
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  left: -15px;
  border-width: 10px 15px 10px 0;
  border-color: transparent #f5f5f5 transparent transparent;
}
.timeline-item::after {
  content: "";
  display: block;
  clear: both;
}

.timeline-content {
  position: relative;
  width: 45%;
  padding: 10px 30px;
  border-radius: 4px;
  background: #f5f5f5;
  box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
}
.timeline-content::after {
  content: "";
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  right: -15px;
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent #f5f5f5;
}

.timeline-img {
  width: 30px;
  height: 30px;
  background: #3f51b5;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-top: 25px;
  margin-left: -15px;
}

.timeline-card {
  padding: 0 !important;
}
.timeline-card p {
  padding: 0 20px;
}
.timeline-card a {
  margin-left: 20px;
}

.timeline-item .timeline-img-header {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("https://picsum.photos/1000/800/?random") center center no-repeat;
  background-size: cover;
}

.timeline-img-header {
  height: 200px;
  position: relative;
  margin-bottom: 20px;
}
.timeline-img-header h2 {
  color: #ffffff;
  position: absolute;
  bottom: 5px;
  left: 20px;
}

blockquote {
  margin-top: 30px;
  color: #757575;
  border-left-color: #3f51b5;
  padding: 0 20px;
}

.date {
  background: #ff4081;
  display: inline-block;
  color: #ffffff;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (max-width: 768px) {
  .timeline::before {
    left: 50px;
  }
  .timeline .timeline-img {
    left: 50px;
  }
  .timeline .timeline-content {
    max-width: 100%;
    width: auto;
    margin-left: 70px;
  }
  .timeline .timeline-item:nth-child(even) .timeline-content {
    float: none;
  }
  .timeline .timeline-item:nth-child(odd) .timeline-content::after {
    content: "";
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #f5f5f5 transparent transparent;
  }
}
