.jumbotron {
  padding-top: 7rem;
  padding-bottom: 8rem;
  background-color: #70394a;
}

.about {
  padding-top: 2rem;
  padding-bottom: 15rem;
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.inress {
  padding-top: 10rem;
  padding-bottom: 10rem;
  color: rgb(0, 0, 0);
  background-size: cover;
  background-color: #70394a;
}
